<md-card>
  <md-card-title>
    <md-card-title-text>
        <span class="md-headline">
          {{$ctrl.text}}
          <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-sref="hello.someone({someone: 'Lord'})" name="Lord">Lord</md-nav-item>
            <md-nav-item md-nav-sref="hello.someone({someone: 'Stranger'})" name="Stranger">Stranger</md-nav-item>
            <md-nav-item md-nav-sref="hello.someone({someone: 'h4x0r'})" name="Hacker">Hacker</md-nav-item>
          </md-nav-bar>
        </span>
      </md-card-title-text>
  </md-card-title>

  <md-card-title-media>
    <div class="md-media-lg card-media" layout="column" layout-align="center center">
      <ui-view></ui-view>
    </div>
  </md-card-title-media>
</md-card>
