.white-tabs-icons {
  .md-tab, md-next-button, md-prev-button {
    md-icon {
      color: #fff !important;
    }
  }
}

.actions-padding {
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 20px;
}
