<md-toolbar layout="row" layout-align="center center">
  <div class="md-toolbar-tools" flex="66">
    <a ui-sref="root">
      <h2>
        <span class="md-title">HelloWorldApp</span>
      </h2>
    </a>

    <md-button class="md-icon-button" ui-sref="hello" aria-label="Hello">
      <md-icon>home</md-icon>
    </md-button>

    <md-button class="md-icon-button" ui-sref="goodbye" aria-label="Goodbye">
      <md-icon>whatshot</md-icon>
    </md-button>

    <span flex></span>

    <md-button class="md-icon-button" ui-sref="profile" aria-label="Profile">
      <md-icon>face</md-icon>
    </md-button>
  </div>
</md-toolbar>
