<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="root">HelloWorldApp</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="hello">
          <span class="glyphicon glyphicon-home"></span>
          Hello
        </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active"><a ui-sref="goodbye">
          <span class="glyphicon glyphicon-sunglasses"></span>
          Goodbye
        </a></li>
      </ul>
    </div>
  </div>
</nav>
